body{
    font-family: sans-serif;
    margin: 20px;
    max-width: 500px;
}


form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#result p{
    background-color: #eef;
    padding: 10px;
    border-radius: 5px;
}

h2{
    background-color: linen;
    text-align: center;

}
input[name]{
    text-align: center;
    
}